[submodule ".vim"]
	path = .vim
	url = https://github.com/carlhuda/janus.git
[submodule ".janus/molokai"]
	path = .janus/molokai
	url = git@github.com:tomasr/molokai.git
[submodule ".janus/vim-yardoc"]
	path = .janus/vim-yardoc
	url = git@github.com:noprompt/vim-yardoc.git
[submodule ".janus/vim-airline"]
	path = .janus/vim-airline
	url = git@github.com:bling/vim-airline.git
